@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
}

header {
  background-color: #7f0082;
  color: #fff;
  padding: 12px 40px;
}

header h1 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
}

/* Trying new things*/

main p,
main button {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

main p {
  color: #7f0082;
}

main .wrapper {
  max-width: 360px;
  width: 100%;
  float: right;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 10px;
}

main .flex-container {
  display: flex;
  flex-direction: column;
}

main .flex-container > div {
  display: flex;
}

main .flex-container > div:first-child {
  margin-bottom: 16px;
}

main .flex-container > div > * {
  width: 50%;
}

main .flex-container > div .content-title {
  text-align: right;
  line-height: 21.7px;
}

main .flex-container-2 {
  display: flex;
}

main .button-container {
  margin-left: 22px;
}

main .flex-container-2 > .restart {
  line-height: 21.7px;
  margin-left: 20px;
  color: #7f0082;
}
